.App {
  height: 80vh;
  width: 40vw;
  min-width: 240px;
  border: 3px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bar {
  height: 3rem;
  width: 70%;
  border: 2px solid red;
  border-radius: 15px;
}
.operation {
  height: 5rem;
  width: 70%;
  border: 2px solid red;
  border-radius: 15px;
  text-align: center;
  line-height: 5rem;
  font-size: 3rem;
}
.answer {
  height: 3rem;
  width: 70%;
  border: 2px solid red;
  border-radius: 15px;
}
#progress-bar{
  height:100%;
  display: block;
  background-color: red;
  border-radius: 15px;
}
.score{
  position: absolute;
  right: 10px;
  top: 10px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .score {
    position: relative;
    right: 0;
    top: 0;
    margin: 0 auto;
  }
}
.game-over {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 15px;
  h1:first-child {
    text-align: center;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
  }
  button {
    height: 10%;
    width: 60%;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10%;
    background-color: #bada55;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    &:hover {
      background-color: darkmagenta;
      color: white;
      transition: 1s;
    }

  }
}
.welcome {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
  }
  h2 {
    text-align: center;
    font-size: 200%;
  }
  button {
    height: 10%;
    width: 40%;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10%;
    background-color: #bada55;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    color: black;
    &:hover {
      background-color: darkmagenta;
      color: white;
      transition: 1s;
    }
  }
  input {
    background-color: yellow;
    text-align: center;
    font-size: 1.5rem;
    width: 60%;
  }
}
input.answer {
  background-color: yellow;
  text-align: center;
  font-size: 2.5rem;
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
